.contact_form {
  padding: 5rem 0 0;
  .form_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image {
      width: 45%;
      img {
        max-width: 48.6rem;
        width: 100%;
      }
    }
    form {
      width: 50%;
      .form_box {
        width: 100%;
        margin: 2.6rem 0 2.27rem;
        display: flex;
        justify-content: space-between;
        gap: 2.27rem;
        input,
        textarea {
          width: 100%;
          display: block;
          border-radius: 0.6667rem;
          border: 0.833px solid #a3a3a3;
          padding: 1.33rem;
        }
      }
      > :nth-child(4) {
        input {
          width: 50%;
        }
      }
      .btn-1 {
        display: flex;
        width: 10.5rem;
        margin-left: auto;
      }
    }
  }
}
@media (max-width: 767px) {
  .contact_form{
    .form_wrap{
      .image{
        display: none;
      }
      form{
        width: 100%;
        .title-2{
        text-align: center;
        }
      }
    }
  }
}
