.header-wrap {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  z-index: 99;
  .toggle_menu {
    display: none;
    label {
      display: block;
      width: 3rem;
      height: 3rem;
      user-select: none;
      cursor: pointer;
    }
    img {
      width: 100%;
    }
  }
  .logo {
    padding: 16.75px;
    cursor: pointer;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .overlay {
      display: none;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      inset: 0;
      height: 100vh;
      z-index: 998;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }
    .nav_top {
      display: flex;
      gap: 5rem;
      .nav_link {
        display: block;
        color: #2c2c2c;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 21.667px; /* 130% */
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background-color: #46b20f;
          bottom: -200%;
          left: 0;
          right: 0;
          height: 2px;
          display: none;
        }
        &:hover {
          color: #46b20f;
        }
        &:hover::before,
        &:hover .active {
          display: block;
        }
      }
      .esc {
        display: none;
        color: #fff;
        font-size: 4rem;
        width: fit-content;
        position: relative;
        left: 100%;
        translate: -100%;
        cursor: pointer;
        padding: 10px;
        user-select: none;
      }
    }
    .action {
      display: flex;
      align-items: center;
      gap: 5rem;
    }
  }
}
@media (max-width: 991.98px) {
  .header-wrap {
    .toggle_menu {
      display: block;
    }
    .logo {
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .navbar {
      justify-content: right;
      .nav_top {
        max-width: 300px;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        gap: 0;
        position: absolute;
        left: 0;
        top: 0;
        background: #46b20f;
        translate: -100%;
        transition: 0.5s ease-in-out;
        z-index: 999;
        .esc {
          display: block;
        }
        .nav_link {
          color: #fff;
          font-size: 2.5rem;
          padding: 1.6rem 0 1.6rem 1.6rem;
          &:hover {
            color: #46b20f;
            background: #fff;
          }
        }
      }
      .overlay {
        display: block;
      }
    }
  }
}
@media (max-width: 350px) {
  .header-wrap {
    .logo {
      img {
        width: 100%;
      }
    }
    .action {
      gap: 1rem !important;
    }
  }
}
#toggle_menu:checked ~ .nav_top {
  translate: 0;
}
#toggle_menu:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}
